<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Forms</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CRoboto+Slab:300,400,700%7CMontserrat:700%7CPacifico">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <div class="preloader">
        <div class="preloader-body">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
          <p>Loading...</p>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-head bg-blog">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
            <div class="rd-navbar-top-panel bg-accent">
              <div class="rd-navbar-inner">
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".list-inline" type="submit"><span></span></button><a class="fa-envelope" href="mailto:#">info@demolink.org</a><a class="fa-mobile-phone preffix-2" href="callto:#">1-800-1234-567</a>
                <ul class="list-inline pull-right">
                  <li><a class="fa-facebook" href="#"></a></li>
                  <li><a class="fa-twitter" href="#"></a></li>
                  <li><a class="fa-pinterest-p" href="#"></a></li>
                  <li><a class="fa-vimeo" href="#"></a></li>
                  <li><a class="fa-google-plus" href="#"></a></li>
                  <li><a class="fa-rss" href="#"></a></li>
                  <li class="text-left"><a class="fa-envelope" href="mailto:#">info@demolink.org</a></li>
                  <li class="text-left"><a class="fa-mobile-phone" href="callto:#">1-800-1234-567</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search">
                  <form class="rd-search rd-navbar-search-form" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <label class="rd-navbar-search-form-input">
                      <input type="text" name="s" placeholder="Search.." autocomplete="off">
                    </label>
                    <button class="rd-navbar-search-form-submit fa-shopping-cart" type="submit"></button>
                  </form>
                  <div class="rd-search-results-live rd-navbar-live-search-results" id="rd-search-results-live"></div>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" type="submit"></button>
                </div><a class="fa-shopping-cart" href="shop-cart.html"><span>2</span></a>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li><a href="catalog.html">Catalog</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="movie-details.html">Movie Details</a></li>
                    </ul>
                  </li>
                  <li><a href="#">News</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog_default.html">Default Blog</a></li>
                      <li><a href="blog_columns_2.html">2 Columns Blog</a></li>
                      <li><a href="blog_columns_3.html">3 Columns Blog</a></li>
                      <li><a href="blog_archive.html">Blog Archive</a></li>
                      <li><a href="timeline.html">Timeline</a></li>
                      <li><a href="blog_post.html">Post page</a></li>
                      <li><a href="left_sidebar.html">Blog with Left Sidebar</a></li>
                      <li><a href="right_sidebar.html">Blog with Right Sidebar</a></li>
                      <li><a href="no_sidebar.html">Blog without Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <p>Elements</p>
                        <ul>
                          <li><a href="tabs-accordion.html">Tabs & Accordions</a></li>
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="icons.html">Icons</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="progress-bars.html">Progress bars</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Pages 1</p>
                        <ul>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="our-team.html">Our Team</a></li>
                          <li><a href="team-member.html">Team member profile</a></li>
                          <li><a href="contact_us_2.html">Contact Us 2</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="services.html">Services page</a></li>
                          <li><a href="clients.html">Client Page</a></li>
                          <li><a href="faq.html">FAQ Page</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Pages 2</p>
                        <ul>
                          <li><a href="404.html">404</a></li>
                          <li><a href="coming-soon.html">Coming soon</a></li>
                          <li><a href="login.html">Login page</a></li>
                          <li><a href="maintenance.html">Maintenance page</a></li>
                          <li><a href="register.html">Register page</a></li>
                          <li><a href="search-results.html">Search results page</a></li>
                          <li><a href="terms.html">Terms of Use</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Gallery</p>
                        <ul>
                          <li><a href="grid-gallery.html">Grid Gallery</a></li>
                          <li><a href="no-padding-grid.html">Grid Without Padding Gallery</a></li>
                          <li><a href="masonry-grid.html">Masonry Gallery</a></li>
                          <li><a href="cobbles-grid.html">Cobbles Gallery</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Shop</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="shop-catalog.html">Product catalog</a></li>
                      <li><a href="shop-product.html">Single Movie</a></li>
                      <li><a href="shop-cart.html">Shopping cart</a></li>
                      <li><a href="shop-checkout.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="contact_us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <section class="relative text-center">
          <div class="container">
            <div class="jumbotron text-center">
              <h1><small>interface elements</small><span class='font-weight-bold'>forms</span>
              </h1>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-light section-xl">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Elements</a></li>
            <li class="active">Forms</li>
          </ol>
        </section>
        <section class="section section-inset-1">
          <div class="container">
            <h2>forms</h2>
            <hr/>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8">
                <p class="h5 fw-l">With forms you can get almost any kind of information from your visitors, who will definitely appreciate this attractive element.</p>
                <section class="section section-inset-1">
                  <h4>Login form</h4>
                  <div class="btn-group-variant"><a class="btn btn-info-2 btn-sm btn-icon" href="#"><span class="icon fa-facebook"></span> Facebook</a><a class="btn btn-info btn-sm btn-icon" href="#"><span class="icon fa-twitter"></span> Twitter</a><a class="btn btn-danger btn-sm btn-icon" href="#"><span class="icon fa-google-plus"></span> Google+</a></div>
                  <div class="row offset-custom-5 justify-content-center">
                    <div class="col-xl-6 col-xl offset-custom-3">
                      <p class="text-uppercase text-gray">or</p>
                      <form class="rd-mailform text-left">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-sub-name">Username</label>
                          <input class="form-input" id="forms-sub-name" type="text" name="name" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                          <label class="form-label" for="forms-sub-password">Password</label>
                          <input class="form-input" id="forms-sub-password" type="password" name="password" data-constraints="@Required">
                        </div>
                        <div class="button-wrap text-center">
                          <button class="btn btn-success btn-sm btn-min-width-lg" type="submit">sign in</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
                <section>
                  <h4>Contact us</h4>
                  <!-- RD Mailform-->
                  <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="forms" method="post" action="bat/rd-mailform.php">
                    <div class="row row-10">
                      <div class="col-12 col-md-6">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-name">Your first name...</label>
                          <input class="form-input" id="forms-name" type="text" name="name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-last-name">Your last name...</label>
                          <input class="form-input" id="forms-last-name" type="text" name="last-name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-email">Your e-mail...</label>
                          <input class="form-input" id="forms-email" type="email" name="email" data-constraints="@Email @Required">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-phone">Your phone...</label>
                          <input class="form-input" id="forms-phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                        </div>
                      </div>
                      <div class="col-12 col-md-12">
                        <div class="form-wrap">
                          <label class="form-label" for="forms-message">Message:</label>
                          <textarea class="form-input" id="forms-message" name="message" data-constraints="@Required"></textarea>
                        </div>
                      </div>
                      <div class="col-12 text-center">
                        <button class="btn btn-success btn-sm" type="submit">Send Message</button>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-sm-first bg-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6">
                <h4><span class="text-white" data-toggle="modal" data-target="#forms-modal-tip">Newsletter form <span class="tip-mark text-white">?</span></span></h4>
                <p class="text-white wow-outer"><span class="wow slideInLeft">Keep up with our always upcoming news and updates. Enter your e-mail and subscribe to our newsletter.</span></p>
                <!-- RD Mailform-->
                <form class="rd-mailform subscribe-form-3 offset-top-20" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <label class="form-label" for="forms-news-email-2">Your e-mail...</label>
                    <input class="form-input" id="forms-news-email-2" type="email" name="email" data-constraints="@Email @Required">
                  </div>
                  <div class="button-wrap">
                    <button class="btn btn-sm btn-secondary">subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="section-sm bg-default text-md-left">
          <div class="container">
            <div class="row offset-custom-5 justify-content-center">
              <div class="col-md-11 col-lg-9 col-xl-7">
                <h4 class="text-spacing-50 text-center">Contact Form (with reCAPTCHA)</h4>
                <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="row row-10 gutters-14">
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-first-name-3" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-first-name-3">First Name</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-last-name-3" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-last-name-3">Last Name</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-email-3" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="contact-email-3">E-mail</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-wrap">
                        <label class="form-label" for="contact-message-3">Message</label>
                        <textarea class="form-input" id="contact-message-3" name="message" data-constraints="@Required"></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-wrap form-wrap-recaptcha">
                        <!-- Google captcha-->
                        <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-success btn-sm btn-min-width-lg-2" type="submit">Send Message
                        <!-- Page Footer-->
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="page-foot bg-gray-900">
        <section class="footer-content">
          <div class="container">
            <div class="rd-navbar-brand-2"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
            <ul class="list-inline offset-top-20">
              <li><a class="fa-facebook" href="#"></a></li>
              <li><a class="fa-twitter" href="#"></a></li>
              <li><a class="fa-pinterest-p" href="#"></a></li>
              <li><a class="fa-vimeo" href="#"></a></li>
              <li><a class="fa-google" href="#"></a></li>
              <li><a class="fa-rss" href="#"></a></li>
            </ul>
          </div>
        </section>
        <section class="footer-copyright-1 copyright">
          <div class="container">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="terms.html">Terms of Use.</a><span> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a></span></p>
          </div>
        </section>
      </footer>
      <!-- Rd Mailform result field-->
      <div class="rd-mailform-validate"></div>
      <div class="modal fade" id="forms-modal-tip">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6>Subscribe form tip</h6>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
              <p>Subscribe form works as an e-mail newsletter.</p>
              <p>To activate such form with an enabled <strong>MailChimp</strong> service, replace the <code>.rd-mailform</code> class with <code>.mailchimp-mailform</code> and the form's action with MailChimp subscription URL.</p>
              <p>To activate the <strong>Campaign Monitor</strong> service, you need to replace the form’s [#code.rd-mailform] class with <code>.campaign-mailform</code> and copy the form's action and the name of the input field from the form generated by Campaign Monitor service.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by Starlight-->
  </body>
</html>