<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Login</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CRoboto+Slab:300,400,700%7CMontserrat:700%7CPacifico">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <div class="preloader">
        <div class="preloader-body">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
          <p>Loading...</p>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-head bg-blog">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
            <div class="rd-navbar-top-panel bg-accent">
              <div class="rd-navbar-inner">
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".list-inline" type="submit"><span></span></button><a class="fa-envelope" href="mailto:#">info@demolink.org</a><a class="fa-mobile-phone preffix-2" href="callto:#">1-800-1234-567</a>
                <ul class="list-inline pull-right">
                  <li><a class="fa-facebook" href="#"></a></li>
                  <li><a class="fa-twitter" href="#"></a></li>
                  <li><a class="fa-pinterest-p" href="#"></a></li>
                  <li><a class="fa-vimeo" href="#"></a></li>
                  <li><a class="fa-google-plus" href="#"></a></li>
                  <li><a class="fa-rss" href="#"></a></li>
                  <li class="text-left"><a class="fa-envelope" href="mailto:#">info@demolink.org</a></li>
                  <li class="text-left"><a class="fa-mobile-phone" href="callto:#">1-800-1234-567</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search">
                  <form class="rd-search rd-navbar-search-form" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <label class="rd-navbar-search-form-input">
                      <input type="text" name="s" placeholder="Search.." autocomplete="off">
                    </label>
                    <button class="rd-navbar-search-form-submit fa-shopping-cart" type="submit"></button>
                  </form>
                  <div class="rd-search-results-live rd-navbar-live-search-results" id="rd-search-results-live"></div>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" type="submit"></button>
                </div><a class="fa-shopping-cart" href="shop-cart.html"><span>2</span></a>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="catalog.html">Catalog</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="movie-details.html">Movie Details</a></li>
                    </ul>
                  </li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Register</a></li>
                  <li><a href="#">Shop</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="shop-catalog.html">Product catalog</a></li>
                      <li><a href="shop-product.html">Single Movie</a></li>
                      <li><a href="shop-cart.html">Shopping cart</a></li>
                      <li><a href="shop-checkout.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="contact_us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <section class="relative text-center">
          <div class="container">
            <div class="jumbotron text-center">
              <h1><small>welcome</small><span class='font-weight-bold'>Login</span>
              </h1>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-light section-xl">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Extras</a></li>
            <li class="active">Login</li>
          </ol>
        </section>
        <section class="section section-inset-1">
          <div class="container">
            <h2>登录</h2>
            <hr>
            <div class="row justify-content-center">
              <div class="col-12 col-xl-8">
                <div class="btn-group-variant"><a class="btn btn-info-2 btn-sm btn-icon" href="#"><span class="icon fa-facebook"></span> Facebook</a><a class="btn btn-info btn-sm btn-icon" href="#"><span class="icon fa-twitter"></span> Twitter</a><a class="btn btn-danger btn-sm btn-icon" href="#"><span class="icon fa-google-plus"></span> Google+</a></div>
                <div class="row justify-content-center offset-custom-5">
                  <div class="col-xl-6 col-xl offset-custom-3">
                    <p class="text-uppercase text-gray">or</p>
                    <form class="rd-mailform text-left">
                      <div class="form-wrap">
                        <label class="form-label" for="forms-sub-name">Username</label>
                        <input class="form-input" id="forms-sub-name" type="text" name="USER_NAME" data-constraints="@Required">
                      </div>
                      <div class="form-wrap">
                        <label class="form-label" for="forms-sub-password">Password</label>
                        <input class="form-input" id="forms-sub-password" type="password" name="USER_PASS" data-constraints="@Required">
                      </div>
                      <div class="button-wrap text-center">
                        <button id="login" class="btn btn-success btn-sm btn-min-width-lg" type="submit">登录</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-foot bg-gray-900">
        <section class="footer-content">
          <div class="container">
            <div class="rd-navbar-brand-2"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
            <ul class="list-inline offset-top-20">
              <li><a class="fa-facebook" href="#"></a></li>
              <li><a class="fa-twitter" href="#"></a></li>
              <li><a class="fa-pinterest-p" href="#"></a></li>
              <li><a class="fa-vimeo" href="#"></a></li>
              <li><a class="fa-google" href="#"></a></li>
              <li><a class="fa-rss" href="#"></a></li>
            </ul>
          </div>
        </section>
        <section class="footer-copyright-1 copyright">
          <div class="container">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="terms.html">Terms of Use.</a><span> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a></span></p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by Starlight-->
    <script src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#login').click(function(event) {
          event.preventDefault(); // 阻止表单的默认提交行为

          var userName = $("#forms-sub-name").val(); // 获取用户名
          var userPass = $("#forms-sub-password").val(); // 获取密码

          // 验证用户名和密码
          if (!userName) {
            alert("用户名必填!");
            $("#forms-sub-name").focus(); // 设置用户名输入框获取焦点
            return;
          }
          if (!userPass) {
            alert("密码必填!");
            $("#forms-sub-password").focus(); // 设置密码输入框获取焦点
            return;
          }

          var param = {
            "USERNAME": userName,
            "USERPASS": userPass
          };

          // 发送AJAX请求进行登录
          $.ajax({
            url: "userCtrl/login",
            type: "POST",
            data: param,
            dataType: "json", // 预期服务器返回的数据类型
            success: function(response) {
              // 根据服务器返回的结果进行处理
              if (response.success) {
                alert("登录成功");
                window.location.href = "userCtrl/indexView";
              } else {
                alert("用户名或密码错误");
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // 处理AJAX请求失败的情况
              alert("登录请求失败: " + textStatus);
            }
          });
        });
      });
    </script>

  </body>
</html>