<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Typography</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CRoboto+Slab:300,400,700%7CMontserrat:700%7CPacifico">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <div class="preloader">
        <div class="preloader-body">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
          <p>Loading...</p>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-head bg-blog">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
            <div class="rd-navbar-top-panel bg-accent">
              <div class="rd-navbar-inner">
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".list-inline" type="submit"><span></span></button><a class="fa-envelope" href="mailto:#">info@demolink.org</a><a class="fa-mobile-phone preffix-2" href="callto:#">1-800-1234-567</a>
                <ul class="list-inline pull-right">
                  <li><a class="fa-facebook" href="#"></a></li>
                  <li><a class="fa-twitter" href="#"></a></li>
                  <li><a class="fa-pinterest-p" href="#"></a></li>
                  <li><a class="fa-vimeo" href="#"></a></li>
                  <li><a class="fa-google-plus" href="#"></a></li>
                  <li><a class="fa-rss" href="#"></a></li>
                  <li class="text-left"><a class="fa-envelope" href="mailto:#">info@demolink.org</a></li>
                  <li class="text-left"><a class="fa-mobile-phone" href="callto:#">1-800-1234-567</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search">
                  <form class="rd-search rd-navbar-search-form" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <label class="rd-navbar-search-form-input">
                      <input type="text" name="s" placeholder="Search.." autocomplete="off">
                    </label>
                    <button class="rd-navbar-search-form-submit fa-shopping-cart" type="submit"></button>
                  </form>
                  <div class="rd-search-results-live rd-navbar-live-search-results" id="rd-search-results-live"></div>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" type="submit"></button>
                </div><a class="fa-shopping-cart" href="shop-cart.html"><span>2</span></a>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li><a href="catalog.html">Catalog</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="movie-details.html">Movie Details</a></li>
                    </ul>
                  </li>
                  <li><a href="#">News</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog_default.html">Default Blog</a></li>
                      <li><a href="blog_columns_2.html">2 Columns Blog</a></li>
                      <li><a href="blog_columns_3.html">3 Columns Blog</a></li>
                      <li><a href="blog_archive.html">Blog Archive</a></li>
                      <li><a href="timeline.html">Timeline</a></li>
                      <li><a href="blog_post.html">Post page</a></li>
                      <li><a href="left_sidebar.html">Blog with Left Sidebar</a></li>
                      <li><a href="right_sidebar.html">Blog with Right Sidebar</a></li>
                      <li><a href="no_sidebar.html">Blog without Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <p>Elements</p>
                        <ul>
                          <li><a href="tabs-accordion.html">Tabs & Accordions</a></li>
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="icons.html">Icons</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="progress-bars.html">Progress bars</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Pages 1</p>
                        <ul>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="our-team.html">Our Team</a></li>
                          <li><a href="team-member.html">Team member profile</a></li>
                          <li><a href="contact_us_2.html">Contact Us 2</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="services.html">Services page</a></li>
                          <li><a href="clients.html">Client Page</a></li>
                          <li><a href="faq.html">FAQ Page</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Pages 2</p>
                        <ul>
                          <li><a href="404.html">404</a></li>
                          <li><a href="coming-soon.html">Coming soon</a></li>
                          <li><a href="login.html">Login page</a></li>
                          <li><a href="maintenance.html">Maintenance page</a></li>
                          <li><a href="register.html">Register page</a></li>
                          <li><a href="search-results.html">Search results page</a></li>
                          <li><a href="terms.html">Terms of Use</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Gallery</p>
                        <ul>
                          <li><a href="grid-gallery.html">Grid Gallery</a></li>
                          <li><a href="no-padding-grid.html">Grid Without Padding Gallery</a></li>
                          <li><a href="masonry-grid.html">Masonry Gallery</a></li>
                          <li><a href="cobbles-grid.html">Cobbles Gallery</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Shop</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="shop-catalog.html">Product catalog</a></li>
                      <li><a href="shop-product.html">Single Movie</a></li>
                      <li><a href="shop-cart.html">Shopping cart</a></li>
                      <li><a href="shop-checkout.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="contact_us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <section class="relative text-center">
          <div class="container">
            <div class="jumbotron text-center">
              <h1><small>interface elements</small><span class='font-weight-bold'>TYPOGRAPHY</span>
              </h1>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-light section-xl">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Elements</a></li>
            <li class="active">Typography</li>
          </ol>
        </section>
        <div class="section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8">
                <section class="section-inset-1">
                  <h1>H1 heading</h1>
                  <p class="text-md-left offset-custom-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae elementum curabitur vitae nunc.</p>
                  <p class="text-md-left">Viverra maecenas accumsan lacus vel facilisis. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. At elementum eu facilisis sed odio morbi.</p>
                </section>
                <section class="section-inset-2">
                  <h2>H2 heading</h2>
                  <p class="text-md-left offset-custom-7">At lectus urna duis convallis convallis tellus id interdum. Consequat ac felis donec et odio. Nunc sed blandit libero volutpat sed cras ornare. Elementum integer enim neque volutpat.</p>
                  <p class="text-md-left">At ultrices mi tempus imperdiet nulla malesuada pellentesque. Condimentum lacinia quis vel eros donec ac odio tempor orci. Dictum varius duis at consectetur lorem donec massa.</p>
                </section>
                <section class="section-inset-2">
                  <h3>H3 heading</h3>
                  <p class="text-md-left offset-custom-5">Et malesuada fames ac turpis egestas sed tempus. Pretium nibh ipsum consequat nisl. Velit dignissim sodales ut eu sem integer vitae justo eget.</p>
                  <p class="text-md-left">Risus sed vulputate odio ut enim blandit. Quisque id diam vel quam elementum. Pretium aenean pharetra magna ac placerat.</p>
                </section>
                <section class="section-inset-2">
                  <h4>H4 heading</h4>
                  <p class="text-md-left">Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Habitant morbi tristique senectus et netus et malesuada.</p>
                </section>
                <section class="section-inset-1">
                  <h5 class="fw-l text-transform-none">H5 Heading</h5>
                  <p class="text-md-left offset-custom-5">Nec tincidunt praesent semper feugiat. Erat velit scelerisque in dictum non consectetur a. Aliquet porttitor lacus luctus accumsan.</p>
                </section>
                <section class="section-inset-1">
                  <h6>H6 Heading</h6>
                  <p class="text-md-left">Augue interdum velit euismod in. Dictumst quisque sagittis purus sit. Aliquet eget sit amet tellus cras. Augue eget arcu dictum varius duis at consectetur lorem donec.</p>
                </section>
                <section class="section-inset-1">
                  <h6>Blockquote</h6>
                  <blockquote class="quote-1 bg-light text-md-left offset-custom-5">
                    <p>
                      <q>Donec enim diam vulputate ut pharetra. Sagittis eu volutpat odio facilisis mauris sit amet.</q>
                    </p>
                    <p>
                      <cite>Brandon Burns</cite>
                    </p>
                  </blockquote>
                </section>
                <section class="section-inset-2">
                  <h6>HTML Text Elements</h6>
                  <p class="text-md-left offset-custom-5"> <a href="#"> Link text </a> <a class="text-hover" href="#"> Hover link text</a> <a class="text-gray" href="#"> Press link</a> A website is a medium that connects a person with the world of digital data. <strong>This is a bold text </strong> With its help users can access information, make purchases, communicate with each other, and do loads of other things.</p>
                  <p class="text-md-left">Velit euismod in pellentesqu <mark> highlighted text </mark> ultrices sagittis  <em>italic text </em> presentation. Est velit egestas dui id ornare  <span class="text-gray" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"> Tooltips </span> their client base with ease.  On the modern market the competition is very tough,  <del>strickethrough text</del> so in order to be a success businesses experiment <u> underlined text</u>.</p>
                </section>
                <section>
                  <h6>Unordered and Ordered Lists</h6>
                  <p class="text-left offset-custom-5">Crafting unique experiences by enhancing usability, accessibility and pleasure of the user interaction with the product. :</p>
                  <ul class="marked-list text-left">
                    <li><a class="text-base" href="#">Highly Customizable;</a></li>
                    <li><a class="text-base" href="#">Pre-Built Pages;</a></li>
                    <li><a class="text-base" href="#">Powered Page Builder;</a></li>
                    <li><a class="text-base" href="#">SEO Optimized;</a></li>
                    <li><a class="text-base" href="#">Outstanding Support.</a></li>
                  </ul>
                  <p class="text-left">Making fully adaptive web projects that automatically adjust to any screen that they are viewed on. The list of our advantages:</p>
                  <ol class="ordered-list text-left">
                    <li><a class="text-base" href="#">Highly Customizable;</a></li>
                    <li><a class="text-base" href="#">Pre-Built Pages;</a></li>
                    <li><a class="text-base" href="#">Clean Design;</a></li>
                    <li><a class="text-base" href="#">SEO Optimized;</a></li>
                    <li><a class="text-base" href="#">Outstanding Support.</a></li>
                  </ol>
                </section>
              </div>
            </div>
          </div>
        </div>
        <section class="section-inset-1">
          <div class="container">
            <h6>Icon List</h6>
            <div class="row row-45 text-md-left offset-custom-5">
              <div class="col-12 col-md-6 col-xl-4">
                <div class="media flex-column flex-md-row thumbnail-mod-2">
                  <div class="media-left"><span class="icon icon-success icon-sm fa-desktop"></span></div>
                  <div class="media-body box-service">
                    <h6 class="text-transform-none"><a href="#">Retina Ready</a></h6>
                    <p>Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4">
                <div class="media flex-column flex-md-row thumbnail-mod-2">
                  <div class="media-left"><span class="icon icon-success icon-sm fa-cogs"></span></div>
                  <div class="media-body box-service">
                    <h6 class="text-transform-none"><a href="#">Incredibly Flexible</a></h6>
                    <p>Tristique senectus et netus et malesuada fames ac.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4">
                <div class="media flex-column flex-md-row thumbnail-mod-2">
                  <div class="media-left"><span class="icon icon-success icon-sm fa-thumbs-o-up"></span></div>
                  <div class="media-body box-service">
                    <h6 class="text-transform-none"><a href="#">Quick Support</a></h6>
                    <p>Justo nec ultrices dui sapien eget mi proin sed libero.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-inset-1">
          <div class="container">
            <h6>Image Centered</h6>
            <div class="row offset-custom-5">
              <div class="col-12">
                <div class="thumbnail"><img src="images/typography-2.jpg" alt="">
                  <div class="caption-mod-3"><span class="text-gray">New Movies</span>
                    <p class="text-md-left">Nibh sed pulvinar proin gravida hendrerit. Ornare arcu odio ut sem nulla pharetra diam sit amet. Blandit libero volutpat sed cras ornare arcu dui vivamus.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-inset-1">
          <div class="container">
            <h6>Image Left</h6>
            <div class="row">
              <div class="col-12">
                <div class="media-mod-3">
                  <div class="media-left"><img src="images/typography-3.jpg" alt=""></div>
                  <div class="media-body text-md-left">
                    <p>Congue eu consequat ac felis. Dignissim convallis aenean et tortor at risus viverra. Scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Pellentesque id nibh tortor id aliquet lectus. Tellus elementum sagittis vitae et leo duis ut diam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-inset-1">
          <div class="container">
            <h6>Image Right</h6>
            <div class="row">
              <div class="col-12">
                <div class="media-mod-3">
                  <div class="media-body text-md-left">
                    <p>Sem viverra aliquet eget sit amet tellus cras adipiscing. Cras fermentum odio eu feugiat pretium nibh ipsum. Massa sapien faucibus et molestie ac feugiat sed lectus. In massa tempor nec feugiat nisl pretium fusce id. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Penatibus et magnis dis parturient montes nascetur. Suspendisse in est ante in nibh mauris. Fringilla phasellus faucibus scelerisque eleifend. Amet nulla facilisi morbi tempus.</p>
                  </div>
                  <div class="media-right"><img src="images/typography-3.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-foot bg-gray-900">
        <section class="footer-content">
          <div class="container">
            <div class="rd-navbar-brand-2"><a class="brand-name" href="index.html"><img src="images/logo-default.png" alt=""></a></div>
            <ul class="list-inline offset-top-20">
              <li><a class="fa-facebook" href="#"></a></li>
              <li><a class="fa-twitter" href="#"></a></li>
              <li><a class="fa-pinterest-p" href="#"></a></li>
              <li><a class="fa-vimeo" href="#"></a></li>
              <li><a class="fa-google" href="#"></a></li>
              <li><a class="fa-rss" href="#"></a></li>
            </ul>
          </div>
        </section>
        <section class="footer-copyright-1 copyright">
          <div class="container">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="terms.html">Terms of Use.</a><span> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a></span></p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by Starlight-->
  </body>
</html>